<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <% data.forEach(function(articleData) { %>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= articleData.title %> | Mihir Neal</title>
        <meta name="description" content="<%= articleData.subtitle %>">
        <meta property="og:title" content="<%= articleData.title %>">
        <meta property="og:type" content="Article">
        <meta name="author" content="Mihir Neal">
        <meta name="keywords" content="mihir, neal, rocket, spacex, blue origin, journal, space">
        <meta property='og:image' content="http://mihirneal.com/resources/<%= articleData.image %>">
        <meta name="twitter:title" content="<%= articleData.title %>">
        <meta property="og:description" content="<%= articleData.subtitle %>">
        <meta property="og:content" content="<%= articleData.subtitle %>">
        <meta name="twitter:image" content="http://mihirneal.com/resources/<%= articleData.image %>"> 
        <meta property="og:url" content="http://www.mihirneal.com/journal<%= ArticleUrl %>">
        <% }) %> 
        <meta property="og:locale" content="en_US">
        <meta property="og:site_name" content="Mihir Neal">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@mihirneal">
        <meta name="twitter:creator" content="@mihirneal">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Lora:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"></script>
        <link rel="stylesheet" href="/header.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
              </button>
                    <a href="/" class="navbar-brand">MN</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-nav-demo">
                    <ul class="nav navbar-nav navbar-right">
                        
                            <li><a href="/journal" id="nav-btn">Journal</a></li>
                        
                    </ul>
                </div>
            </div>

            </div>
        </nav>     